@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /*
        body{
            background-image: url('../img/pattern.png')
        }   
    */
  /*FUENTES*/
  @font-face {
    font-family: "TrebuchetMS";
    src: url("fonts/TrebuchetMS.ttf");
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: "BebasNeue";
    src: url("fonts/BebasNeue.otf");
    font-weight: normal;
    font-size: normal;
  }

  .symbol {
    font-family: "webSymbolsRegular";
  }

  .bebas {
    font-family: "BebasNeue";
  }

  .trebuchet {
    font-family: "TrebuchetMS";
  }
}

@layer components {
  /*ESTULOS MENU*/
  .menu-item {
    @apply xs:mr-2
    xs:ml-2
    mr-5
    ml-5
    tracking-wider
    flex-none
    font-bebas
    xs:flex-1;
  }
  /*ESTILOS BANNER*/
  .meun-item-a {
    @apply block transition duration-200 hover:text-azul-claro transform hover:scale-125;
  }
  .text-banner {
    font-family: "Bebas Neue";
    text-shadow: 2px 2px 1px black;
  }
  /* ESTILOS MENU TARGETAS*/
  .card {
    @apply group 
      sm:flex-1
      lg:h-80
      border-2
      border-gray-200
      overflow-hidden
      my-4
      cursor-pointer
      transition
      duration-300
      hover:bg-black
      lg:m-5
      h-52
      md:m-2
      w-40;
  }

  .card-item {
    @apply block
    w-full
    h-20
    text-5xl
    text-center
    mt-6
    pt-5
    mx-auto
    transition
    duration-300
    lg:mt-12
    lg:h-28;
  }

  .card-category {
    @apply w-full
      h-6
      text-xl
      font-bold
      text-center
      text-azul-oscuro  
      transition 
      duration-300
      lg:text-lg;
  }

  .card-description {
    @apply text-center
    text-azul-oscuro
    text-base
    transition
    duration-300
    lg:block
    hidden
    lg:text-sm
    lg:mt-6;
  }

  .article-header {
    background: url("../img/pxgray.png"), white;
    @apply font-bebas 
    w-full 
    block 
    h-16 
    text-5xl 
    text-center 
    font-normal 
    tracking-widest
    pt-4
    border
    shadow-header3D
    xs:text-3xl;
  }
  .article-item {
    @apply w-full h-auto border border-gray-200 m-10 mx-auto bg-white text-black shadow-md;
  }

  .article-data {
    @apply float-right bg-gray-800 text-white h-10 leading-6 p-2 text-sm rounded-bl-lg;
  }

  .article.data span {
    @apply m-2.5;
  }

  .article-head {
    @apply block text-2xl m-1;
    @apply font-semibold text-azul-oscuro hover:underline p-2;
  }

  .article-head a {
    @apply font-semibold text-azul-oscuro hover:underline p-2;
  }

  .article-description {
    @apply block mt-3 mb-3 text-base  p-2 font-sans;
  }

  .aside-header {
    background: url("../img/pxgray.png"), white;
    @apply font-bebas block h-11 leading-10 shadow-header3D text-3xl font-medium tracking-widest pl-3.5 pt-1 mb-3.5 border;
  }

  .aside-box {
    @apply w-10/12 max-w-xs h-60 mx-auto my-5 pt-1 bg-white shadow-box xs:w-60;
  }

  .login-input {
    @apply block
      mx-auto
      mt-5
      w-10/12
      h-8
      border
      border-gray-300
      shadow-inner
      rounded-md
      pl-7
      text-gray-500
      transition
      duration-300
      outline-none
      focus:outline-none
      focus:text-gray-600;
  }

  .login-icon {
    @apply text-center absolute ml-7 mt-1 h-8;
  }

  .login-button {
    @apply w-24 h-8 mt-5 ml-5 mb-5 text-center text-white text-base border border-azul-oscuro rounded cursor-pointer font-light bg-gradient-to-b from-azul-claro to-azul-oscuro transition duration-300 hover:shadow-md;
  }

  .login-link {
    @apply block ml-4 text-sm text-gray-600 hover:underline hover:text-azul-oscuro;
  }

  .social-icon {
    @apply block text-gray-700 text-3xl mt-3 mb-5 ml-5;
  }

  .social-overlay {
    @apply block h-10 pl-2 pr-2 pt-1 ml-16 -mt-14 font-sans font-bold tracking-wide shadow-md border-4 border-white absolute bg-gray-100 opacity-0 transition duration-500 transform -translate-x-3/4;
  }

  .footer-box {
    @apply flex-1 w-11/12 mx-auto h-96 lg:m-10 text-center text-white lg:w-80;
  }

  .footer-header {
    background: url("../img/pxgray.png"), white;
    @apply font-bebas tracking-wide text-center text-4xl text-black rounded-md
    p-1.5 pt-2 mb-4;
  }

  .footer-menu {
    @apply text-left m-5 text-2xl;
  }

  .footer-menu li {
    @apply mt-3 p-1 border-b-2 border-gray-400 transition duration-300;
  }

  .footer-menu li a {
    @apply block h-10 transition duration-300 text-azul-claro hover:text-white;
  }

  .browsers a {
    @apply flex-1 mb-1.5;
  }

  .browsers a img {
    @apply w-11;
  }
}
